lightnlp/.vscode
.*/__pycache__
lightnlp/sl/ner/.idea
lightnlp/sl/ner/utils/__pycache__
lightnlp/sl/ner/__pycache__
lightnlp/sl/ner/\.*
lightnlp/sl/ner/__pycache__
lightnlp/sl/ner/.vector_cache
.vscode
build
dist
lightnlp.egg-info
test/saves
lightnlp/__pycache__
lightnlp/sl/__pycache__
build
dist
lightNLP.egg-info